<!-- <h1>Countries</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 50%">Country Name</th>
            <th style="width: 20%">Country Code</th>
            <th style="width: 30%">Region</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries">
            
            <td>{{country.name}}</td>
            <td>{{country.id}}</td>
            <td>{{country.region}}</td>
            
        </tr>
    </tbody>
</table>


<h1>Regions</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 50%">Region Name</th>
            <th style="width: 50%">Region Code</th>

            
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let region of regions">
            
            <td>{{region.name}}</td>
            <td>{{region.id}}</td>
            
        </tr>
        
    </tbody>
</table> -->