<hr/>
<h3>View Data</h3>
<hr/>
<ul>
    
    <ul>
        <hr/>
        <p>
            <a routerLink="/show_data/nc_bur_ndc"><li>NC - BUR - NDC Tables</li></a>
        </p>
        <hr/>
        <p>
            <a routerLink="/show_data/institution_availability"><li>Institution Availability Tables</li></a>
        </p>
        <hr/>
        <p>
            <a routerLink="/show_data/transparency_activities"><li>Transparency Activities Table</li></a>
        </p>
        <hr/>
        <p>
            <a routerLink="/show_data/barriers"><li>Barriers Table</li></a>
        </p>
        <hr/>
        <p>
            <a routerLink="/show_data/support_required"><li>Support Required Table</li></a>
        </p>
        <hr/>
    </ul>

</ul>


