<!-- NC =============================== -->
<hr/>
<h3>NC</h3>
<hr/>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Country Name</th>
            <th style="width: 10%">Country Code</th>
            <th style="width: 15%">Submission Number</th>
            <th style="width: 10%">Status</th>
            <th style="width: 25%">Financial support by</th>
            <th style="width: 25%">Technical support by</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of ncs">
            <td>{{x.countryName}}</td>
            <td>{{x.countryCode}}</td>
            <td>{{x.subNumber}}</td>
            <td>{{x.status}}</td>
            <td>{{x.fsup}}</td>
            <td>{{x.tsup}}</td>
            
        </tr>
        
    </tbody>
</table>

<!-- NDC ====================== -->
<hr/>
<h3>NDC</h3>
<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Country Name</th>
            <th style="width: 10%">Country Code</th>
            <th style="width: 15%">Submission Number</th>
            <th style="width: 10%">Status</th>
            <th style="width: 25%">Financial support by</th>
            <th style="width: 25%">Technical support by</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of ndcs">
            <td>{{x.countryName}}</td>
            <td>{{x.countryCode}}</td>
            <td>{{x.subNumber}}</td>
            <td>{{x.status}}</td>
            <td>{{x.fsup}}</td>
            <td>{{x.tsup}}</td>
            
        </tr>
        
    </tbody>
</table>

<!-- BUR ========================= -->
<hr/>
<h3>BUR</h3>
<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Country Name</th>
            <th style="width: 10%">Country Code</th>
            <th style="width: 15%">Submission Number</th>
            <th style="width: 10%">Status</th>
            <th style="width: 25%">Financial support by</th>
            <th style="width: 25%">Technical support by</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of burs">
            <td>{{x.countryName}}</td>
            <td>{{x.countryCode}}</td>
            <td>{{x.subNumber}}</td>
            <td>{{x.status}}</td>
            <td>{{x.fsup}}</td>
            <td>{{x.tsup}}</td>
            
        </tr>
        
    </tbody>
</table>

